.yellow{
  background-color: #FEAE13;
  overflow:auto;
  min-height:100vh;
}
.white{
  background-color: white;
  overflow:auto;
  min-height:100vh;
}
.yellowbg{
  background-color: var(--yellowbg);
  overflow:auto;
  min-height:100vh;
}
.pinkbg{
  background-color: var(--pinkbg);
  overflow:auto;
  min-height:100vh;
}
