<div class="header">
  <h3 style="strong">BREED ME!</h3>
  <h4>Have an account?</h4>
  <button>Sign in</button>
</div>
<h1>Find Breeding Partners for your pets!</h1>
<p>lorem ipsum dolor sit amet, consectetur adipis lacus, sed diam nonumy eirmod tempor invidunt ut et dolor. Lorem ipsum dolor sit amet, con</p>
