<div class="container">
  <div class="header mt-5">
    <h3 style="strong">BREED ME!</h3>
    <div class="header-options">
      <h4 class="mr-4 pt-3">Have an account?</h4>
      <button>Sign in</button>
    </div>
  </div>
  <h1>Find Breeding Partners for your pets!</h1>
  <p>lorem ipsum dolor sit amet, consectetur adipis lacus, sed diam nonumy eirmod tempor invidunt ut et dolor. Lorem ipsum dolor sit amet, con</p>
</div>
