.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.upload-button {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  transition: all 0.3 ease;
  background-size: cover;
  justify-content: center;
  align-items: center;
  border: 10px solid var(--black);

  &:hover {
    opacity: 0.4;
    filter: alpha(opacity=75);
    cursor: pointer;

    .fa-camera {
      opacity: 1;
    }
  }
}

.fa-camera{
  font-size: 2em;
  opacity: 0;
  transition: all .3s ease;
  color: #34495e;
}

.avatar-bordered {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;

}
.avatar-square {
  width: 40px;
  height: 40px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}
.avatar-dog {
  img{
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  }

}
