.our-forms{
  input[type=file]{
    height:0px;
    width:0px;
  }

  .icons_edit_delete{
    font-size: 0.6em !important;
    align-items: center;
  }

  input:not([type=checkbox]):not([type=file]){
    height: 50px;
    width: 324px;
    border-radius: 15px;
    box-shadow: 0px 4px 4px rgba(var(--rgb-black),0.25);
  }

  select{
    height: 50px;
    width: 324px;
    border-radius: 15px;
    box-shadow: 0px 4px 4px rgba(var(--rgb-black),0.25);
  }

  .form-name{
    input[type=text]{
    width:40%;
    }
  }

  textarea{
    height:100px;
    width:324px;
    border-radius: 15px;
    box-shadow: 0px 4px 4px rgba(var(--rgb-black),0.25);
  }

  h1{
    font-size: 3.4em;
    font-weight: bold;
  }
  h2{
    font-size: 2.0em;
  }

  h3{
    font-size: 1.2em;
    font-weight: bold;
  }
  a{
    text-decoration: none;
    color: var(--yellow);
    &:hover{
      color:var(--pink);
    }
    i{
      font-size: 2em;
      margin: 0 50px 0 50px;
    }
  }
  .width-class{
    width:126px;
  }
  .space-class{
    margin-top:30px;
  }
  #drag-field{
    border:1px solid rgba(var(--rgb-black),0.3);
    cursor: pointer;
    background-color: white;
    border-radius: 16px;
    display: flex;
    box-shadow: 0px 4px 4px rgba(var(--rgb-black),0.25);
    justify-content: left;
    align-items: center;
    height: 50px;
    width: 324px;
  }
}
