.our-forms{
  input:not([type=checkbox]){
    height: 50px;
    width: 324px;
    border-radius: 15px;
    box-shadow: 0px 4px 4px rgba(var(--rgb-black),0.25);
  }

  h1{
    font-size: 3.4em;
    font-weight: bold;
  }

  a{
    text-decoration: none;
    color: var(--pink);
    &:hover{
      color:var(--yellow)
    }
    .fa{
      font-size: 500px

    }
  }
}
