.header{
  display:flex;
  justify-content:space-between;
  font-family: Arial,sans-serif;
  margin-top:10px;
  // background-color;
  .header-options{
    text-align: center;
    display:flex;
  }
  h3{
    font-size:1.5em;
    font-family: Poppins;
  }
  h4{
    font-size: 1em;
    color: var(--black);
  }
  img{
    height: 59px;
    width: auto;
  }
}

@media(max-width:450px){
  .header-options{
    h4{
      display:none;
    }
  }
}
