.header{
  display:flex;
  justify-content:space-between;
  font-family: Arial,sans-serif;
  margin-top:10px;
  // background-color;
  .header-options{
    text-align: center;
    display:flex;
    button{
      background-color: transparent;
      border: 2px solid var(--black);
      filter: drop-shadow(0px 4px 4px rgba(var(--rgb-black), 0.25));
      width: 95px;
      height: 50px;
      a{
        font-size: 0.9em;
        text-decoration: none;
        color: var(--black);
      }
    }
  }
  h3{
    font-size:1.5em;
    font-family: Poppins;
  }
  h4{
    font-size: 1em;
    color: var(--black);
  }
  img{
    height: 59px;
    width: auto;
  }
}

@media(max-width:450px){
  .header-options{
    h4{
      display:none;
    }
  }
}
