// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "header";
@import "landing";
@import "card";
@import "toggle";
@import "switcheroo";
@import "colors/colors";
@import "color_button";
@import "pet_information";
@import "button";
@import "forms";
@import "my_pets";
@import "search-bar";
@import "messages";
@import 'select2/dist/css/select2';
@import "messages_user";
