
#cf {
  position:relative;
  height:281px;
  width:450px;
  margin:0 auto;
}

#cf img {
  position:absolute;
  left:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

  @keyframes cf3FadeInOut {
  0% {
  opacity:1;
}
45% {
opacity:1;
}
55% {
opacity:0;
}
100% {
opacity:0;
}
}

#cf img.top {
animation-name: cf3FadeInOut;
animation-timing-function: ease-in-out;
animation-iteration-count: infinite;
animation-duration: 6s;
animation-direction: alternate;
}

.banner{
  width:660px;
  h1{
    font-size: 3.4em;
    font-weight: bold;
    color:var(--black);
    letter-spacing:0.08em;
  }

  p{
    width: 470px;
  }
  p:first-of-type{
    font-size: 1.5em;
    color:var(--black)
  }
  p:last-of-type{
    font-size: 1em;
    color:var(--black)
  }

  button{
    background: var(--yellow);
    color: var(--white);
    height: 62px;
    border-width: 0;
    width: 284px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 6px;
    box-shadow: 0px 4px 4px rgba(var(--rgb-black),0.35);
    letter-spacing: 1.1px;
    &:hover{
      background: var(--pink);
      color: var(--white);
    }
    a{
      text-decoration: none;
      color: var(--white);
      &:hover{
        color: var(--white);
      }
    }
  }

  a{
    font-weight: bold;
    text-decoration:underline;
    color:var(--black);
    &:hover{
      color:var(--yellow);
    }
  }
}
