.banner{
  width:660px;
  h1{
    font-size: 3.4em;
    font-weight: bold;
    color:var(--black);
    letter-spacing:0.08em;

  }
  p{
    width: 470px;
  }
  p:first-of-type{
    font-size: 1.5em;
    color:var(--black)
  }
  p:last-of-type{
    font-size: 1em;
    color:var(--black)
  }

  button{
    background: var(--yellow);
    color:#fff;
    height: 62px;
    border-width: 0;
    width: 284px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 6px;
    box-shadow: 0px 4px 4px var(--black);
    letter-spacing: 1.1px
  }
  a{
    font-weight: bold;
    text-decoration:underline;
    color:var(--black);
    &:hover{
      color:var(--white);
    }
  }
}
