.my-pets{
  h1{
    font-size : 3.4em;
  }
  a{
    color: var(--black);
    text-decoration: none;
    &:hover{
      color: var(--yellow);
    }
  }
  .my-pet-card{
    overflow: hidden;
    background: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius:20px;
    &:hover{
      width: 102%;
      height: 102%;
      position: relative;
      bottom: 10%;
      right: 2%;
    }
    img{
      height: 200px;
      width: 100%;
      object-fit: cover;
      padding:10px;
      border-radius: 30px;
    }
    h2{
      font-size: 16px;
      font-weight: bold;
      margin: 0;
    }
    p {
      font-size: 12px;
      opacity: .7;
      margin: 0;
    }
     .my-pet-info{
      padding: 16px;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      position: relative;
    }
    .my-pet-extra{
      position: absolute;
      right: 16px;
      top: -20px;
      width: 40px;
    }

  }
}
