.my-pets{
  h1{
    font-size : 3.4em;
  }
  i{
    color:var(--yellow);
  }
  a{
    color: var(--black);
    text-decoration: none;
    &:hover{
      color: var(--yellow);
    }
  }
  h3{
    font-size : 2.4em;
  }

  .my-pet-card{
    overflow: hidden;
    background: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius:20px;

    img{
      height: 200px;
      width: 100%;
      object-fit: cover;
      padding:10px;
      border-radius: 30px;
    }
    h2{
      font-size: 16px;
      font-weight: bold;
      margin: 0;
    }
    p {
      font-size: 12px;
      opacity: .7;
      margin: 0;
    }
     .my-pet-info{
      padding: 16px;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      position: relative;
    }
    .my-pet-extrax{
      position: absolute;
      right: 33px;
      bottom: 25px;
    }
  }
}
.blurry{
   text-shadow: 0 0 10px rgba(var(--rgb-black),0.4);
   color: transparent;
}
#add-pet{
  transition: all 0.3 ease;
  justify-content: center;
  align-items: center;
  &:hover{
    opacity: 0.5;
    filter: alpha(opacity=25);
    cursor: pointer;
  }
  a{
    color:var(--yellow);
  }
}
