.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
}

a.dropdown-item:hover,
a.dropdown-item:active {
  color: var(--yellow) !important;
  background-color:  white;
}
