h1 {
  font-weight: bold;
}
.align-text-h1{
  padding-top: 100px;
}
.class-bg-color {
  background: var(--yellowbg);
}
.margin-description {
  margin-top: 60px;
}
.margin-list {
  margin-top: 60px;
}
