.show-index-page{
  a{
    color: var(--black);
    text-decoration: none;
    &:hover{
      color: var(--yellow);
    }
 }
  .search-outputs{
    background-color:var(--white);
    width:fit-content;
    border-radius: 5px;
    height: 1.5em;
    margin: 10px;
    padding: 0 5px 0 10px;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
  }
}
