.fa-check-circle {
  font-size: 20px;
  margin-bottom: 7px;
}

.fa-fire-alt {
  font-size: 20px;
  margin-bottom: 7px;
}

[data-tooltip]:before {
    position : absolute;
     content : attr(data-tooltip);
     opacity : 0;
     font-size: 12px;
     color: #0f0000;
     margin-left: 25px;
}

[data-tooltip]:hover:before {
    opacity : 1;
    background-color: var(--white);
    padding: 3px 6px 0 6px;
    border-radius: 6px;
    margin: 0 0 0 20px;
}

[data-tooltip]:not([data-tooltip-persistent]):before {
    pointer-events: none;
}

.super_tooltip {
  color: var(--yellow);
  text-decoration: none;
}
